/* Your Website Styles */
body, html {
	font-family: 'Pacifico', cursive;
	margin: 0;
	padding: 0;
	width: 100%;
}

.back {
	position: fixed;
	height: 100%;
	width: 100%;
	background: url("../img/triangles.svg");
	background-size: 1366px 768px;
	background-repeat: no-repeat;
}

.header {
	color: white;
	position: relative;
	text-align: center;
	font-size: 50px;
	font: white;
	margin-bottom: 100px;
}

 .bar {
 	margin-left: auto;
 	margin-right: auto;
 	width: 702px;
 }

.section {
	display: inline-block;
}

.section a {
	position: relative;
	display: inline-block;
	top: 50px;
	width: 150px;
	height: 150px;
	background-color: yellow;
	border-radius: 50%;
	text-decoration: none;
}

@keyframes float{
	0% 	 {bottom:125px;}
	100% {bottom:200px;}
}
@-webkit-keyframes float{
	0% 	 {bottom:125px;}
	100% {bottom:200px;}
}
@-moz-keyframes float{
	0% 	 {bottom:125px;}
	100% {bottom:200px;}
}

.section > p {
	text-align: center;
	position: relative;
	z-index: -1;
	bottom: 120px;
	font-size: 28px;
	color: white;
}

.icon {
	margin: 0;
	position: relative;
	bottom:20px;
	text-align: center;
	font-size: 100px;
	color: black;
}

.section:hover > p {
	-webkit-animation: float 1s ease forwards;
	-moz-animation: float 1s ease forwards;
	animation: float 1s ease forwards;
}

.bio,
.resume,
.portfolio {
	margin-left:30px;
}

@media screen and (max-width:768px) {
	.back {
		background-size: 768px 100%;
	}

	.header {
		font-size: 40px;
		margin-bottom: 100px;
	}

	 .bar {
	 	margin-left: auto;
 		margin-right: auto;
	 	width: 492px;
	 }

	.section a {
		width: 120px;
		height: 120px;
	}

	.section > p {
		bottom: 170px;
		font-size: 30px;
	}

	.icon {
		font-size: 100px;
		bottom: 35px;
	}

@keyframes float{
	0% 	 {}
}
@-webkit-keyframes float{
	0% 	 {}
}
@-moz-keyframes float{
	0% 	 {}
}

	.section:hover > p {
		-webkit-animation: float;
		-moz-animation: float;
		animation: float;
	}

	.bio,
	.resume,
	.portfolio {
		margin-left:0;
	}
}

@media screen and (max-width:480px), (max-width:550px) {
	.back {
		background-size: 1000px 800px;
	}

	.header {
		font-size: 24px;
		margin-bottom: 5px;
	}

	 .bar {
	 	width: 320px;
	 }

	.section a {
		width: 77px;
		height: 77px;
	}

	.section > p {
		bottom: 80px;
		font-size: 20px;
	}

	.icon {
		font-size: 50px;
		bottom: 10px;
	}

@keyframes float{
	0% 	 {}
}
@-webkit-keyframes float{
	0% 	 {}
}
@-moz-keyframes float{
	0% 	 {}
}

	.section:hover > p {
		-webkit-animation: float;
		-moz-animation: float;
		animation: float;
	}

	.bio,
	.resume,
	.portfolio {
		margin-left:0;
	}
}